<div class="container-sup vh-100">

    <app-sidebar></app-sidebar>

    <div class="container">
        
        <div class="row align-items-center">
            <div class="header-text mb-4">
            <p class="login-text text-center" style="font-size: 20px;">¿Quién soy?</p>
            </div>
        </div>
    
        <div class="container d-flex justify-content-center align-items-center">
    
            <!-- Login container -->
            <div class="row border rounded-5 p-3 bg-white shadow box-area align-items-center justify-content-center">
        
            <!-- Left box -->
                <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background-image: url(../../../assets/20221229_152913.jpg); width: 400px; height: 400px; background-position: center; background-size: cover;"></div>
        
            <!-- Right box -->
            <div class="col-md-6 right-box ">
                <div class="row align-items-center">
                    <div class="header-text mb-4">
                    <p class="login-text text-center" style="font-size: 20px;">Juan Ignacio Fernández</p>
                    </div>
                    <p>Soy estudiante de programación en la Universidad Tecnológica Nacional. Actualmente me encuentro cursando Laboratorio IV, materia para la cual debo presentar este mismo proyecto el cual simula ser una Sala de Juegos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</div>