<div class="container py-5">
    
    <div class="row m-0 my-4 d-flex justify-content-center align-items-center flex-wrap">
   
           <!-- Carta Preguntados -->
           <div id="cardMiJuego" class="col-sm-12 col-md-6 col-lg-3 card m-1 border rounded-5 p-3"style="width: 18rem; height: 500px">
            <div class="card-header p-0 rounded-5" style="height: 250px;">
                <img src="../../../assets/preguntados.jpg" class="card-img-top w-100 h-100 border rounded-5" alt="..." style="background-size: cover;">
            </div>
            <div class="card-body">
              <h5 class="card-title">Preguntados</h5>
              
              <small>Desafía tus conocimientos con 'Preguntados'. Para ganar, tendras que conseguir los personajes correspondientes a cada una de las categorias. Aprovecha para poner a prueba tus conocimientos combinando ingenio y estrategia.</small>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-primary">Jugar</a>
            </div>
        </div>
        
        <!-- Carta Ahorcado -->
        <div id="cardMiJuego" class="col-sm-12 col-md-6 col-lg-3 card m-1 border rounded-5 p-3"style="width: 18rem; height: 500px">
            <div class="card-header p-0 rounded-5" style="height: 250px;">
                <img src="../../../assets/unnamed.png" class="card-img-top  border rounded-5" alt="..." style="background-size: cover; height: 178px;">
            </div>
            <div class="card-body">
              <h5 class="card-title">Ahorcado</h5>
              <small>El clásico juego del ahorcado desafía tus habilidades lingüísticas al adivinar palabras letra por letra antes de que se complete el dibujo del ahorcado. Es divertido, rápido y perfecto para poner a prueba tu vocabulario.</small>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-primary">Jugar</a>
            </div>
        </div>

        <!-- Carta Mayor-Menor -->
        <div id="cardMiJuego" class="col-sm-12 col-md-6 col-lg-3 card m-1 border rounded-5 p-3"style="width: 18rem; height: 500px">
            <div class="card-header p-0 rounded-5" style="height: 250px;">
                <img src="../../../assets/40711704-casino-poker-card-cartoon-seamless-pattern-background.jpg" class="card-img-top  border rounded-5" alt="..." style="background-size: cover; height: 178px;">
            </div>
            <div class="card-body h-100">
              <h5 class="card-title">Mayor-Menor</h5>
              <small>Desafía tu intuición. Adivina si la siguiente carta será mayor o menor que la anterior. ¡Rápido, divertido y perfecto para entrenar tu percepción y tomar decisiones rápidas.</small>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-primary">Jugar</a>
            </div>
        </div>

        <!-- Carta Mi-Juego -->
        <div id="cardMiJuego" class="col-sm-12 col-md-6 col-lg-3 card m-1 border rounded-5 p-3"style="width: 18rem; height: 500px">
            <div class="card-header p-0 rounded-5" style="height: 250px;">
                <img src="../../../assets/preguntados.jpg" class="card-img-top w-100 h-100 border rounded-5" alt="..." style="background-size: cover;">
            </div>
            <div class="card-body">
              <h5 class="card-title">Mi Juego</h5>
              
              <small>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore placeat esse quibusdam ipsum beatae earum, ipsa iure quia ad aut nihil. Sint aliquam, est amet commodi officia praesentium molestias provident?</small>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-primary">Jugar</a>
            </div>
        </div>
    
    </div>
</div>