<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sala de juegos | LOGIN</title>
</head>
<body>
  <!-- Main container -->
  <div class="container d-flex justify-content-center align-items-center min-vh-100">

  <!-- Login container -->
  <div class="row border rounded-5 p-3 bg-white shadow box-area align-items-center justify-content-center">

  <!-- Left box -->
  <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background-image: url(../assets/depositphotos_136197602-stock-illustration-retro-arcade-game-machine-vector.jpg); width: 400px; height: 400px; background-position: center; background-size: cover;">

    <p class="text-white fs-2" style="font-family: Open Sans, sans-serif; font-weight: 600; margin-top: 100px">Bienvenido!</p>
    <small class="text-white text-wrap text-center" style="width: 15rem;font-family: Open Sans, sans-serif; ">Una página donde podrá disfrutar de sus juegos favoritos. Comencemos!</small>
  </div>

  <!-- Right box -->
  <div class="col-md-6 right-box ">
    <div class="row align-items-center">
      <div class="header-text mb-4">
        <p class="login-text text-center" style="font-size: 20px;">Inicia sesión para comenzar a jugar! </p>
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control form-control-lg gb-light fs-6" placeholder="Correo electrónico">
      </div>
      <div class="input-group mb-1">
        <input type="password" class="form-control form-control-lg gb-light fs-6" placeholder="Constraseña">
      </div>     
      <div class="input-group mb-3">
        <button class="btn btn-lg btn-primary w-100 fs-6">Iniciar sesión</button>
      </div>
      <div class="row">
        <small>¿No tienes una cuenta? <a href="#">Crear cuenta</a></small>
      </div>
    </div>

  </div>

    </div>
  </div>
</body>
</html>