*{
    font-family: "Open Sans", sans-serif;
}

#btnLogin, #btnRegister{
    width: 110px;
}

#btnRegister{
    margin-left: 10px;
}

@media(max-width: 991px){
    .sidebar{
        background-color: rgb(0, 0, 68);
        backdrop-filter: blur(10px);
    }
    #btnRegister{
        margin-top: 10px;
        margin-left: 0px;
    }
}